:root {
  --font-family: "Poppins", sans-serif;
  --primary-color: #134153;
  --secundary-color: #daf0e8;
  --grey: #F6F7FB;
  --white: #f6f5f5;
  --paragraph: #0a0a0a;
  --edit: #7CB9A3;
  --edit-btn: #ecc19c;
}

* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.container {
  max-width: 1170px !important;
}

a {
  text-decoration: none !important;
  color: var(--primary-color) !important;
}

a:hover {
  color: var(--edit) !important;
}

#section-categories {
  & .butons-login {
    background-color: var(--edit);
    padding: 30px 0;
    margin: 30px 0;

    & .navbar-edit {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 20px;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
  }


  & .navbar-categories {
    background-color: var(--grey);
    padding: 30px 0;
    margin: 30px 0;

    & .navbar {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

    }

    & .categories {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 20px;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      /*    & a {
      margin-right: 20px;
    } */
    }

    & p {
      margin-bottom: 0 !important;
      margin-right: 20px;
    }


  }
}

button {
  background-color: var(--secundary-color);
  color: var(--primary-color);
  height: 39px;
  width: auto;
  border-radius: 100px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
  /*   position: relative; */
  border-style: hidden;
  outline: none;
}

button:hover {
  background-color: var(--primary-color);
  color: var(--secundary-color);
}

.button-primary {
  background-color: var(--primary-color);
  color: var(--secundary-color);
}

.button-primary:hover {
  background-color: var(--secundary-color);
  color: var(--primary-color);
}

.button-edit {
  background-color: var(--edit-btn);
  color: var(--paragraph);
}

.button-edit:hover {
  background-color: var(--secundary-color);
  color: var(--primary-color);
}

.div-login {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card-blog {
  padding: 20px 0;

  & .article {
    background-color: var(--grey);
    width: 100%;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    & .info {
      padding: 24px;
      width: 100%;
    }

    & .edit-buttons {
      background-color: var(--edit);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding: 8px 0;
      border-radius: 20px 20px 0 0;
    }

    & .img-card {
      border-radius: 20px 20px 0 0;
      height: 250px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 10px;
      overflow: hidden;

      img {
        width: auto;
        max-height: 130%;
      }

    }


    & .categorie-share {
      width: 100%;
      padding: 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 10px;

      .right {
        & i {
          width: 20px;
        }

      }
    }

    & .title {
      color: #16434c;
      text-align: left;
      vertical-align: text-top;
      border-style: hidden;
      outline: none;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      min-height: 87px;

      & h2 {
        font-size: 24px;
      }
    }

    & .paragraph {
      color: var(--paragraph);
      text-align: left;
      vertical-align: text-top;
      font-size: 16px !important;
      line-height: 24px;
      border-style: hidden;
      outline: none;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5
    }

    & .line {
      background-color: #405a78;
      height: 2px;
    }

    & .name {
      width: 100%;
      padding: 8px 0 !important;
      color: var(--primary-color);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 20px;

      & i {
        margin-right: 20px;
      }

      & p {
        margin-bottom: 0 !important;
      }

    }


    & .date-time {
      width: 100%;
      padding: 8px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;

      & p {
        margin-bottom: 0 !important;
      }
    }

    & .read-more {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    & .share-buttons {
      position: absolute;
      top: 49%;
      right: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 16px;
      background: #fff;
      border: 1px solid #ccc;
      padding: 16px;
      border-radius: 8px;

      & p {
        color: var(--primary-color);
        cursor: pointer;
        margin-bottom: 0 !important;
      }

      & p:hover {
        color: var(--secundary-color);
      }

    }

  }
}

.new-article-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px;

  & .ck-content ul {
    margin-left: 32px;
  }

  & .buttons-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    gap: 20px;
  }

  & .form-group-article {
    max-width: 750px;
  }
}


#section-article {

  & ul {
    margin-left: 35px;
  }

  & blockquote {
    position: relative;
    font-size: 13px;
    font-weight: 400;
    padding-left: 20px;
    padding: 10px 20px;
    background: #F6F6F6;
    padding: 30px 40px 30px 70px;
    color: #555;
    border: none;
    margin-bottom: 25px;
    border-left: 3px solid #16434C;
  }

  & .article-complet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    & .buttons-nav {
      padding: 20px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      text-align: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;

      & p {
        font-size: 20px;
        margin-bottom: 0 !important;
      }
    }

    & .meta {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 10px 0;
      margin: 30px 0;

      & p {
        color: var(--primary-color);
        margin-bottom: 0 !important;
      }
    }

    & .img-blog {
      width: 100%;
      margin-bottom: 30px;
    }

    & img {
      max-width: 100%;
      height: auto;
    }
  }

  & .social-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin: 60px 0;

    & p {
      color: var(--primary-color);
      cursor: pointer;
      margin-bottom: 0 !important;
    }

    & p:hover {
      color: var(--secundary-color);
    }
  }

  @media (max-width: 768px) {
    .social-share {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    .social-share a,
    .social-share p {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
      flex: 1 1 45%;
      text-align: center;
      padding: 10px 0;
    }
  }

  /* Para telas menores ainda */
  @media (max-width: 400px) {

    .social-share a,
    .social-share p {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
      text-align: center;
    }
  }


  & .recent-posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  /* ckEditor */

  & thead {
    background-color: var(--primary-color);
    color: var(--white);
  }

  & .image-style-side {
    float: right;
    max-width: 50%;
  }

  @media (max-width: 600px) {
    .image-style-side{
      max-width: 100%;
    }
  }

  /* Reseta o estilo da figura */
  & figure {
    margin: .9em auto;
  }

  & .table th {
    text-align: left;
  }

  & .table table th {
    background: rgba(0, 0, 0, .05);
    font-weight: 700;
    vertical-align: bottom;
    border: 1px solid #dee2e6;
  }

  & .table table td,
  .ck-content .table table th {
    border: 1px solid #bfbfbf;
    min-width: 2em;
    padding: .4em;
  }

}

.articles-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}